body {
  font-family: "Roboto", Arial, sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /*margin: 0 auto;*/
 /* text-align: center;
  margin-top: 50px;
  color: #FFF;
  text-shadow: -1px -1px #333;
  background: #333;*/
}
.center-block{
  width: 70%;
  margin: 0 auto;
}
.txt-center{
  text-align: center;
}
.color1{

}
.color2{
  
}
.btn{
  border: none;
  background-color: none;
  padding: 10px;
}
.btn_color{
  background-color: rgb(255,48,12);
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;

}
/*START*/
.start{
 background-image: url('http://lorempixel.com/1000/800/abstract');
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;
 display: flex;
}
.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
}
.intro{ 
  background-color: rgba(25,25,27,0.4);
  padding: 7%;
  text-align: center;
}
h1{
  color: #fff;
  font-size: 3rem;
}
#iniciar{
  padding: 20px;
}

/*PLAYERS*/
#wallpaper{
  background-image: url('../img/bg8.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}
header{
  display: flex;
  justify-content: flex-end;
  font-size: 0.85rem;
  padding: 2% 0;
}
header span{
  margin: 0 5px;
}
header.second{
  padding: 4% 0;
}
form#ingreso_players{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px outset red;
  width: 32%;
  margin: 0 auto;
  padding: 30px 0;
}
form p input{
  margin-left: 20px;
}
#ingreso_players div{
  color: red;
  text-align: right;
  font-size: 0.8rem;
  padding: 5px;
}
#play{
  display: block;
  margin: auto;
}

/*PLAY*/
.turn {
    margin-bottom:10px;
  }
.message{

}
table {
  border-collapse:collapse;
  width:210px;
  margin:0 auto;
}
td {
      width:70px;
      height:70px;
      border:1px solid #555;
      cursor:pointer;
  }
td:before {
        font-size:1.5em;
        line-height:1;
      }
td.cross:before {
    content:"x";
    color:#3CB108;
  }
td.circle:before {
  content:"o";
  color:#402FC2;
}
.reset {
    background:#555;
    border:1px solid #333;
    padding:5px 10px;
    color:#FFF;
    cursor:pointer;
    font-family:"Roboto", Arial, sans-serif;
    text-transform:uppercase;
  }
.reset:hover {
      opacity:0.8;
    }
.movimientos{
  background-color: rgba(228,228,228,0.2); 
  overflow: auto;
  width: 70%;
  margin: 40px auto;
  padding: 20px;
}
.movimientos div{
  background-color: rgba(232,229,229,0.8);
  padding: 0 50px;
  padding-bottom: 5px;
}
.play1{
  float: left;
}
.play2{
  float: right;
}
button.historial{
  float: right;
  margin-top: 50px;
}
/*HISTORIAL*/
.group-historial, .comments{
  border:1px solid #33479D;
  padding: 15px;
  background-color: rgba(232,229,229,0.8);
  margin: 15px auto;
  width: 50%;
  overflow: auto;
}
.comment{
  float: right;
}
h4{
  margin:50px 0;
}
.input_text{
  margin: 30px 0;
}
label{
  vertical-align: top;
}
.send{
  margin:30px;
}
.response{
  padding: 10px;
  color: #8E26AC;
  font-weight: bold;
}
